doctype html
html
	head
		title Asuka&Richard
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/skeleton.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(property='og:title', content='Toronto lovers')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://asuka.richardsin.com')
		meta(property='og:image', content='http://asuka.richardsin.com/images/pourboy.jpg')
		meta(property='og:description', content='OMG we\'re gonna have so much funnnnn')
		script(src="https://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
		script(type="text/javascript", src="/javascripts/intimacy.js")

	body
		.header
			h1 Asuka&Richard

		block content

		.footer

			ul(class="extras")
				li
					a(href="https://fb.com/kimchirichie") Richard's fb
				li
					a(href="tel:2266004161") 226) 600 4161
				li
					a(href="http://maps.google.com/maps?daddr=43.479781,-80.533144&amp;ll=") 78 Columbia St W, Waterloo

			<span>© 2016 sinr0202. All rights reserved</span>